.userpage-image{
	position: relative;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.userpage-box{
	border-radius:9px;
    height: 150px;
    overflow:hidden;
    width: 150px;
    margin: 0 auto 0 auto;
    border:1px solid #c7c5c9;
}

.user-info-panel{
	text-align:center;
}

.up-post-comment{
	width: 100%;
	margin-bottom:10px;
	word-wrap: break-word;
    white-space: normal;
}

.up-imageMessage{
	margin-bottom:10px;
}

.user-page-wrap  h3{
    color: gray;    
    padding: .25em 0 .25em .75em;
    padding-left: 9px;
    border-left: 6px solid #ffb9a6;
    font-weight: 500;
    margin-left: 5%;
}