body{
	background-color:rgba(150, 231, 185,0.3);
}

h3{
	padding: .25em 0 .25em .75em;
    color: gray;
    border-left: 6px solid #ffb9a6;
}


.register-box{
	width: 100%;
    padding: 20px;
    margin: 10px auto;
}

.register{
	width: 100%;
	height: auto;
    padding: 20px;
    margin: 20px auto 10px auto;
    border: 1px solid #acabad;
    background-color: #f5f5f5;
     border-radius:7px;
}

.register p{
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

.register input{
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

.register .submit{
    text-align: right;
    margin: 10px 10px 0 0;
}

.register .submit>input{
    width: 60px;
    font-size: 12px;
    padding: 5px;
    margin: 10px 0 0 0;
}

.error{
	color:#ff7b58;
}

.submit > input{
	background-color: #fd9b81;
	border-radius:7px;
	border:0px;
	color: white;
	font-size:20px;
}

.submit > input:hover{
	opacity:0.7px;
}

.register>form>p{
	color:gray;
}




@media (min-width: 768px){

	.register-box{
		width: 350px;

	}

	.register{
		width: 350px;
	}

	.register input{
    	width: 300px;
    }
}