@CHARSET "UTF-8";
.post-input-textarea{
	border-radius:5px;
	border-color:#bab9bf;
	width:90%;
}

.post-input-title{
	border-radius:5px;
	border-color:#bab9bf;
	border-style: solid;
	border-width: 1px;
	width:80%;
	height:42px;
	margin-bottom:10px;
}

.item-info-box{
	padding-left:4%;
	padding-right:4%;
}

.post-item-container{
	padding-left:15px;
	padding-right:15px;
	padding-top:40px;
}

.post-item-info{
	border-radius:8px;
	background-color:#f5f5f5;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:5%;
	padding-right:5%;
}

.push-item-comment{
	background-color:#ffb9a6;
	color:#515151;
	margin-top:20px;
	margin-right:5%;
	width:60%;
	height:40px;
}

button.push-item-comment:hover{
	background-color:#ffb9a6;
	color:#515151;
	opacity:0.7;
}

.post-item-image{
	padding-left:15px;
	padding-right:15px;
	width:100%;
	height:auto;
}

.input-title{
	padding: .25em 0 .25em .75em;
	padding-left:9px;
    border-left: 6px solid #ffb9a6;
    color: gray;
    font-weight: 500;
}

.item-name{
	color:#515151;
}

.button-box{
	width:100%;
	text-align:center;
}

.rakuten-button{
	color:gray;
}