@(loginId: String,userList: List[models.entity.User],userForm:Form[models.form.admin.AdminUserForm],boo:Boolean)
@import helper._

@num = @{932108L}

@main_for_admin(""){
	<h1 id="homeTitle">ユーザー一覧</h1>
	<div id="actions">
		@form(action =routes.AdminApplication.userSearch()) {
			@if(boo == true){
				<select name="orderby">
					<option value="true" selected>昇順</option>
					<option value="false">降順</option>
				</select>
			}else{
				<select name="orderby">
					<option value="true">昇順</option>
					<option value="false" selected>降順</option>
				</select>
			}
			@inputText(userForm("userName"),args='_label->"ユーザー名",'maxLength->"50")
			@inputText(userForm("loginId"),args='_label->"ログインID",'maxLength->"50")
			<input type="submit" id="searchsubmit" value="検索" class="btn primary">
		}
	</div>

	<table class="table table-bordered">
		<thead>
			<tr class="something">
				<th class="col-md-2">ユーザーID</th>
				<th class="col-md-2">ユーザー名</th>
				<th class="col-md-2">ログインID</th>
				<th class="col-md-2">リンク</th>
				<th class="col-md-2">管理権限</th>
				<th class="col-md-2">削除</th>
			</tr>
		</thead>
		<tbody>
			@if(!(userList == null)){
				@for(user <- userList){
				<tr>
					<td>@user.getId()</td>
					<td>@user.getUserName()</td>
					<td>@user.getLoginId()</td>
					<td><a href="@routes.Application.userPage(user.getId()+num)">LINK</a></td>
					<td>@user.getAdmin()</td>
					<td><a href="@routes.AdminApplication.userDelete(user.getId())"> 削除 </a></td>

				</tr>
				}
			}

		</tbody>
	</table>
}


