@import url(https://fonts.googleapis.com/css?family=Montserrat+Subrayada);
@import url(https://fonts.googleapis.com/css?family=Londrina+Outline);
@import url(https://fonts.googleapis.com/css?family=Plaster);
@import url(https://fonts.googleapis.com/css?family=Monoton);
@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
@import url(https://fonts.googleapis.com/css?family=Chango);
@import url(https://fonts.googleapis.com/css?family=Raleway:600);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);/* google fonts 日本語 */




#header{
	background-color: #49d385;
	color: white;
}

a.navbar-brand{
	color: white;
}

ul>li>a{
	color: white;
}

.pager li>a{
	color: #ccc;
}

.pager li>a:hover{
	color: #555;
}

body > div > div.posts{
	float: left;
}

span.icon-bar{
	background-color: white;
}

a.navbar-brand:hover{
	color: white;
	background-color: #ffb9a6;
}

.navbar-nav>li{
	border-left:solid 1px white;
}

.nav-username{
	height: 50px;
	border-left: 0px !important;
	padding-left:10px;
}

.nav-username>p{
	padding-top: 15px;
	padding-right: 15px;
	padding-left:8px;
}

.nav-last-item{
	border-right:solid 1px white;
}

body
{
/* font-family: 'Noto Sans JP', sans-serif; */　/* google fonts 日本語 */

}

.navbar-brand{
	/* font-family: 'Londrina Outline', cursive; */ /*１ 二重線可愛い感じ */
	font-family: 'Raleway', sans-serif; /*２ 割と好き　丸いけどシンプル */
	/* font-family: 'Quantico', sans-serif; */ /*３ 少し四角い感じ でも可愛い　２の方が好き */
	font-size: 28px !important;　
}

.navbar-right{
	margin-right: 0px;
}

.text-muted{
	text-align:center;
	color:white;
}

.container-fluid>.navbar-header{
	margin-right: 0px !important;
}
.footer{
	background-color: #49d385;
}

.col-xs-12,.col-sm-6,.col-md-4{
	/* border: solid 1px black; */
	border-radius:8px;
	padding-right:10px;
	padding-left:0px;
}

.contributor{
	color:gray;
	font-weight:500;
}

a.contributor:hover{
	color:gray;
	text-decoration:underline;
}

.post-title{
	border-radius: 5px;
	background-color:#dedede;
}

.post-img{
	border: solid 1px black;
	max-width: 100%;
    height: auto;
    display: block;
	margin: 0 auto;
}

.panel-body{
	padding-top:10px;
}

a.category-label:hover{
	text-decoration: none;
	opacity:0.5;
}

.panel-heading{
	/* background-color:#dedede; */
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom:solid 1px #a4a4a4;

	position:relative;
}

.panel-heading a{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.panel-heading a:hover{
	background-color:#999999;

	opacity:0.1;
}

body{
	background-color:rgba(150, 231, 185,0.3);
}

.row{
	margin-right:0px;
	margin-left:0px;
}

.panel{
	border:0px;
}

.content-info-label{
	margin-bottom:10px;
}

.navbar{
	position: fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index: 1001;
}

.content-container{
	top:50px;
	position: relative;
}

#header > div.navbar-header > a > img{
	max-height:45px;
	width:auto;
	display:inline;
	padding-right:4px;
	margin-bottom:2px;
}

.navbar-brand{
	padding-bottom:0px;
	padding-top:6px;
}

div{
	margin:solid 1px black;
}




/*user-page部分*/
.user-info-box{
	height: auto;
	/*border:solid 1px black;*/
}

.post-container{
	height: 800px;
	/*border:solid 1px black;*/
	padding-right: 0px;
	padding-left: 11px;
}

.post-one{
	/*border:solid 1px black;*/
	height:auto;
}

.name-dep{
	text-align: center;
	border-radius: 8px;
	background-color: white;
}
.plofile{
	background-color: white;
}

hr{
	margin-bottom: 0px;
	margin-top: 0px;
	border-top: 1px dotted green;
}

.post-count{
	width: 100%;
	text-align: center;
	margin-top: 10px;
	border-radius: 8px;
}

.post-count>div.panel-heading>p{
	margin: 0px;
}

.post-count>div.panel-heading{
	background-color: #ffb9a6;
	color: white;
	border-bottom: 0px;
}

.panel-heading h4{
	overflow: hidden;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	text-overflow: ellipsis;
	/*width: 300px;*/
	white-space: nowrap;	
}

.post-count>div.panel-body{
	padding-bottom: 0px;
}

.panel-body p{
	overflow: hidden;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	text-overflow: ellipsis;
	/*width: 300px;*/
	white-space: nowrap;	
}

.panel-body p[class="post-comment"]{
	width: 100%;
	max-height: 100px;
	word-wrap:break-word;  
	white-space: normal;		  			
}

.posted-item-name{
	padding: 0 25px;
	font-size: 12px;
	margin: 8px 0;
	text-align: center;
}

.user-page-wrap{
	margin-top: 30px;
}

.post-list-title{
	padding: .25em 0 .25em .75em;
	border-left: 6px solid #ffb9a6;
	color: gray;
	font-weight:500;
}

.profile-panel{
	margin-bottom: 5px;
	border-radius: 8px;
}

.profile-panel>div.panel-footer{
	border-bottom-right-radius:8px;
	border-bottom-left-radius:8px;
}
