@import url(https://fonts.googleapis.com/css?family=Montserrat+Subrayada);
@import url(https://fonts.googleapis.com/css?family=Londrina+Outline);
@import url(https://fonts.googleapis.com/css?family=Plaster);
@import url(https://fonts.googleapis.com/css?family=Monoton);
@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
@import url(https://fonts.googleapis.com/css?family=Chango);


#header{
	background-color: #49d385;
	color: white;
}

a.navbar-brand{
	color: white;
}

ul>li>a{
	color: white;
}

body > div > div.posts{
	float: left;
}

span.icon-bar{
	background-color: white;
}

a.navbar-brand:hover{
	color: white;
	background-color: #ffb9a6;
}

.navbar-nav>li{
	border-left:solid 1px white;
}

.nav-username{
	height: 50px;
	border-left: 0px !important;
	padding-left:10px;
}

.nav-username>p{
	padding-top: 15px;
	padding-right: 15px;
	padding-left:8px;
}

.nav-last-item{
	border-right:solid 1px white;
}

body
{
	/*font-family: 'Montserrat Subrayada', sans-serif;*/
	/*font-family: 'Sigmar One', cursive;*/

}

.navbar-brand{

	font-family: 'Londrina Outline', cursive;
	/*font-family: 'Chango', cursive;*/
	font-size: 32px !important;
}

.navbar-right{
	margin-right: 0px;
}

.text-muted{
	text-align:center;
	color:white;
}

.container-fluid>.navbar-header{
	margin-right: 0px !important;
}
.footer{
	background-color: #49d385;
}

.col-xs-12,.col-sm-6,.col-md-4{
	/* border: solid 1px black; */
	border-radius:8px;
	padding-right:10px;
	padding-left:0px;
}

.contributor{
	color:gray;
	font-weight:500;
}

a.contributor:hover{
	color:gray;
	text-decoration:underline;
}

.post-title{
	border-radius: 5px;
	background-color:#dedede;
}

.post-img{
	border: solid 1px black;
	max-width: 100%;
    height: auto;
}

.panel-body{
	padding-top:0px;
}

a.category-label:hover{
	text-decoration: none;
	opacity:0.5;
}

.panel-heading{
	/* background-color:#dedede; */
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom:solid 1px #a4a4a4;

	position:relative;
}

.panel-heading a{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.panel-heading a:hover{
	background-color:#999999;

	opacity:0.1;
}

body{
	background-color:rgba(150, 231, 185,0.3);
}

.row{
	margin-right:0px;
	margin-left:0px;
}

.panel{
	border:0px;
}

.content-info-label{
	margin-bottom:10px;
}

.navbar{
	position: fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index: 1001;
}

.content-container{
	top:50px;
	position: relative;
}

/*#navbar1 > ul.nav.navbar-nav.nav-right-item{
	float: right;
}*/
/*body > div.posts{
	float: left;
}*/