@(loginId: String,goodsList:List[models.entity.Goods])

@implicitField = @{ FieldConstructor(inputForm_nolabel_error.f) }

@import helper._

@main(loginId) {

  <div class="search-item">
  	<form action="" method="GET">
    	<p>検索ワードを入力してください</p>
    	<input type="text" name="searchWord">
    	<p class="submit"><input type="submit" value="検索"></p>
    </form>
  </div>

@if(goodsList != null){
	<div class="container-fluid">
  		<div class="row sampleRow">
  	@for(item <- goodsList){

	  		<div class="col-xs-4 col-sm-2 col-md-2">
	  			<p style="text-overflow:clip;">@item.getGoodsName()</p>
	  			<p style="text-overflow:clip;">@item.getImageUrl()</p>
	  			<p style="text-overflow:clip;">@item.getAmazonUrl()</p>
	  			<p style="text-overflow:clip;">@item.getGenreId()</p>
	  		</div>

  	}
  	</div>
  </div>
}

}
