.userpage-image{
	position: relative;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.userpage-box{
	border-radius:9px;
    height: 30%;
    overflow:hidden;
    width: 100%;
    margin: 0 auto 0 auto;
    border:1px solid #c7c5c9;
}

.user-info-panel{
	text-align:center;
}

.up-post-comment{
	margin-bottom:10px;
}

.iine-list-title{
	margin-bottom:20px;
	padding: .25em 0 .25em .75em;
    padding-left: 9px;
    border-left: 6px solid #ffb9a6;
    color: gray;
    font-weight: 500;
}

.profile-panel:hover{
	opacity:0.7;
	background-color:white;
}

@media(max-width: 480px){

    .userpage-box{
        border-radius:9px;
        height: 15%;
        overflow:hidden;
        width: 100%%;
        margin: 0 auto 0 auto;
        border:1px solid #c7c5c9;
    }
}

@media(max-width: 380px){

    .userpage-box{
        border-radius:9px;
        height: 12%;
        overflow:hidden;
        width: 100%;
        margin: 0 auto 0 auto;
        border:1px solid #c7c5c9;
    }

    .row h3{
        font-size: 20px;
    }
}
