@(loginId:String, iineList: List[models.entity.Iine])

@num = @{932108L}
<link href="@routes.Assets.at("stylesheets/iine/iineListForPost.css")" rel="stylesheet">

@import helper._

@main(loginId) {
        <!-- コンテント -->
		<div class="container user-page-wrap" style="padding-bottom:50px;">
 			<div class="row">
                <h3 class="iine-list-title">　いいねを押したユーザー（@iineList.size()）</h3>
            </div>
            <div class="row sampleRow">
                @if(iineList != null){
            		@for((iine,i) <- iineList.zipWithIndex){
				       <!-- ユーザー情報div -->
				        <div class="col-xs-6 col-sm-4 col-md-3 user-info-box">
				            <div class="user-info">
				                <div class="panel panel-default profile-panel">
				                    <a href="@routes.Application.userPage(iine.getUser().getId()+num)" style="color:#000;text-decoration:none">
				                    <div class="panel-body">
										<div class="userpage-box">
				                    		<img class="userpage-image" src="data:image/png;base64,@iine.getUser().getImageEncData()" alt="base64test">
										</div>
				                        <h3>@iine.getUser().getUserName()</h3>
				                        <h5>部署：<span>@iine.getUser().getDepartment()</span></h5>
				                    </div>
				                    </a>
				                </div>
				            </div>
				        </div>
	                    @if(i%4 == 3){
	                    	<div style="clear:both;"></div>
	                    }
					}
                }
			</div>
        </div>
}