.introduction-postcommnet-box{
	width: 100%;
    padding-bottom: 20px;
    margin: 10px auto;
}

.introduction-commnet-box{
    width: 100%;
    background-color: #fafafa;
    border-radius: 6px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
}

body{
	background-color:#d8f6e5;
}

.introduction-commnet-title{
    margin-bottom: 10px;
    text-align: center;
    color: #000;
    background-color:#fff;
    border-radius : 8px;
}

textarea{
	border:0px;
	border-radius : 8px;
}

.introduction-attention{
	color: #bbb;
}

.introduction-commnet-box2{
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px;
    overflow: hidden;
}

.introduction-commnet{
	text-align: left;
}

.introduction-commnet-box3{
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 10px;
    overflow: hidden;
}
.introduction-button{
	padding-top:20px;
}

.introduction-color-box{
	background-color: #d8f6e5;
}

.introduction-full-box{
	width: 100%;
	height: 100%;
	background-color: #d8f6e5;
}

.introduction_hr{
	border-top: 1px dotted #bbb;
}