.introduction-color-box{
    padding-right: 3%;
    padding-left: 3%;
}

.introduction-postcommnet-box{
	width: 100%;
    padding-top: 25px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 25px;
    margin: 10px auto;
    background-color: #fefefe;
    border-radius: 6px;
}

.post-user{
    float: left;
    color:#6a696a;
}
.post-user a, .comment-user a, .iineBtn a{
    color: gray;
    font-weight: 500;
}

.comment-date{
    margin-left: 20px;
    color:#616161;
    font-size:90%;
}
.comment-data{
    margin-top: 5px;
    color:#616161;
    word-break:break-all;
}

.post-date{
    float: right;
     color:#6a696a;
}

.introduction-commnet-box{
    width: 100%;
    background-color: #fefefe;
    border-radius: 6px;
    margin-top: 0px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3%;
    padding-right: 3%;
    overflow: hidden;
}

body{
	background-color:#d8f6e5;
}

.introduction-commnet-title{
    margin-bottom: 10px;
    text-align: center;
    color: #000;
    background-color:#fff;
    border-radius : 8px;
}

.introduction-commnet-title h3{
    padding:10px 0 5px 0;
}

textarea{
	border:0px;
	border-radius : 8px;
}

.introduction-attention{
	color: #bbb;
}

.introduction-commnet-box2{
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px;
    overflow: hidden;
}

.introduction-commnet{
	text-align: left;
}

.introduction-commnet-box3{
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}

.introduction-button{
    text-align: right;
    margin-bottom: 30px;
}

.introduction-full-box{
	width: 100%;
	height: 100%;
	background-color: #d8f6e5;
	margin-top:20px;
}

.introduction_hr{
	border-top: 1px dotted #bbb;
}


.post-input-textarea{
    border-radius:5px;
    border-color:#bab9bf;
    width:90%;
}

.post-input-title{
    border-radius:5px;
    border-color:#bab9bf;
    border-style: solid;
    border-width: 1px;
    width:80%;
    height:42px;
    margin-bottom:10px;
}





.item-info-box{
    padding-left:3%;
    padding-right:3%;
    margin-top:10px;
}

.post-item-container{
    padding-left:15px;
    padding-right:15px;
    padding-top:40px;
}

.post-item-info{
    border-radius:8px;
    background-color:#f5f5f5;
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:5%;
    padding-right:5%;
}

.push-item-comment{
    background-color:#ffb9a6;
    color:#515151;
    margin-top:20px;
    margin-right:5%;
    width:60%;
    height:40px;
}

button.push-item-comment:hover{
    background-color:#fd996f;
}

.post-item-image{
    padding-left:15px;
    padding-right:15px;
    width:100%;
    height:auto;
}

.input-title{
    padding: .25em 0 .25em .75em;
    border-left: 6px solid #ffb9a6;
    font-weight: 500;
    margin-top: 10px;
    color: gray;
}

.item-name{
    color:#515151;
}

.button-box{
    width:100%;
    text-align:center;
}

.rakuten-button{
    color:gray;
}

.iineBtn{
    text-align: right;
    margin-top:10px;
}

.iineBtn button{
    font-size: 20px;
    text-align: right;
    color: #ffb9a6;
    background-color:#fafafa;
    background:none;
    border:0;
    outline: none;
}

.iineBtn button:hover{
    background-color: #eee;
}

.intro-post-title{
	color:#6a696a;
	margin-bottom:30px;
	margin-top:25px;
	padding: 0.5em 0.1em 0.5em 0.1em;
	border-top: 2px solid #ffb9a6;
    border-bottom: 2px solid #ffb9a6;
    font-weight: 700;
    word-wrap: break-word;
}

.intro-post-com{
	font-size:1.09em;
	color:#616161;
	word-wrap: break-word;
}

.introduction-commnet-title > h3{
	padding: .25em 0 .25em .75em;
    border-left: 6px solid #ffb9a6;
    font-weight: 500;
    margin-top: 10px;
    color: gray;
}

.introduction-full-box > h3{
	padding: .25em 0 .25em .75em;
    padding-left: 9px;
    border-left: 6px solid #ffb9a6;
    color: gray;
    font-weight: 500;
    margin-left:10%;
}

.introduction-hr{
	border-top: 1px dotted #9e9e9e;
}

.com-button{
	background-color:#ffb9a6;
	border:0px;
	color:white;
}

.com-button:hover{
	background-color:#ffb9a6;
	border:0px;
	opacity:0.5;
	color:white;
}

.form-control{
	margin-top:15px;
}

.intro-nocomment{
	color:gray;
	bacground-color:#fefefe;
	margin-top:30px;
}

.intro-com-pictbox-parents{
    width: 12%;
}

.intro-com-pictbox{
    display: inline-block;
	border-radius: 9px;
    height: 50px;
    overflow: hidden;
    width: 50px;
    margin: 0 auto 10px 0;
    border: 1px solid #c7c5c9;

    float:left;
}

.intro-com-namebox{
    display: inline-block;
    width: 85%;
    padding-left: 3%;
}

@media(max-width: 480px){
    .intro-com-namebox{
        padding-left: 5%;
        width: 80%;
    }
}

.userpage-image{
	position: relative;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.userpage-image:hover{
	opacity:0.7;
}

.comment-user>a{
	font-weight:700;
	font-size:110%;
}

.container-fluid{
	padding-left:0px;
}

@media (min-width: 992px){
    .introduction-color-box{
    	padding-left: 1%;
    }

    .item-info-box{
    	padding-right: 1%;
    }
}