@(loginId: String, postList: List[models.entity.Post], page:Integer, maxPage: Integer)

@main(loginId) {

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    カテゴリー
                </li>
                <li>
                    <a href="#">java</a>
                </li>
                <li>
                    <a href="#">PHP</a>
                </li>
                <li>
                    <a href="#">javascript</a>
                </li>
                <li>
                    <a href="#">その他本</a>
                </li>
                <li>
                    <a href="#">音楽</a>
                </li>
                <li>
                    <a href="#">DVD</a>
                </li>
                <li>
                    <a href="#">生活</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- コンテント -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
            	<div class="content-info-label">
	                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">カテゴリー</a>
	                <span>　新着記事</span>
                </div>
                <div class="row sampleRow">

                    @if(postList != null){
                		@for((post,i) <- postList.zipWithIndex){
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="panel">
								<div class="panel-heading">
									<p>@post.getDate()</p>
									<h4>@post.getPostTitle()</h4>
									<a href="#"></a>
								</div>
								<div class="panel-body">
									<a href="#"><img class="post-img" src="@post.getGoods().getImageUrl()"></a>
									<p class="posted-item-name">@post.getGoods().getGoodsName()</p>
									<p>@post.getPostComment()</p>
									<a class="category-label" href="#"><span class="label label-default">@post.getGoods().getCategory()</span></a>
								</div>
								<div class="panel-footer">
									<p>投稿者：<a class="contributor" href="#">@post.getUser().getUserName()</a></p>
								</div>
							</div>
						</div>
                          @if(i%3 == 2){
                            <div style="clear:both;"></div>
                          }                        
						}
                    }

				</div>
                <p>@helper.pagenateForIndex(page,maxPage)</p>
                    <!-- ページング  -->                
            </div>
        </div>
        <!-- /#page-content-wrapper コンテント終了-->

    </div>
        <!-- /#sidebar-wrapper -->





}
