@(loginId: String, postList: List[models.entity.Post], iineBooleanList: List[Boolean], categoryList:List[String] ,page:Integer, maxPage: Integer, category:String, searchForm:Form[models.form.SearchPostForm],sortName:String,postListSize:Integer)
@implicitField = @{ FieldConstructor(inputForm_nolabel_error.f)}
@import helper._
@import play.mvc._

@num = @{932108L}

@main(loginId) {

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    カテゴリー
                </li>
                    <li class="sidebar-category">
                        <a href="@routes.Application.index(1,"ALL","日付新しい順")">ALL</a>
                    </li>
                @for(categoryTmp <- categoryList){
                    <li class="sidebar-category">
                        <a href="@routes.Application.index(1,categoryTmp,"日付新しい順")">@categoryTmp</a>
                    </li>
                }
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- コンテント -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
            	<div class="row sampleRow categoryInfoBox">
            		<div class="col-xs-6 col-sm-6 col-md-6 categoryInfo">
		                <a href="#menu-toggle" class="btn btn-default toggle-btn" id="menu-toggle">カテゴリー</a>
	                    <span class="category-title">　@category</span>
	                </div>

	               <div class="col-xs-6 col-sm-6 col-md-6 search-form">
                   @form(action=routes.Application.searchPostBykeyword(1,"","日付新しい順"),'enctype->"multipart/form-data",'class->"searchPostFrom",'maxLength->"50"){
                   		@inputText(searchForm("keyword"),args='_label->"キーワード",'class->"",'placeholder->"キーワードで投稿検索")
                   		<button type="submit" class="btn btn-default keyword"><i class="icon-search"></i></button>
                   }
                   </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 sort-button-box">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle toggle-btn" type="button" data-toggle="dropdown">並び替え</button>
                            <ul class="dropdown-menu" role="menu">
                            @if( request.path.contains( "search" ) ) {
                                @if( searchForm.get().keyword != "" ){
                                <li role="presentation"><a href="@routes.Application.searchPostBykeyword(1,searchForm.get().keyword,"日付新しい順")">日付　新しい順</a></li>
                                <li role="presentation"><a href="@routes.Application.searchPostBykeyword(1,searchForm.get().keyword,"日付古い順")">日付　古い順</a></li>
                                <li role="presentation"><a href="@routes.Application.searchPostBykeyword(1,searchForm.get().keyword,"いいね")">いいね</a></li>
                                <li role="presentation"><a href="@routes.Application.searchPostBykeyword(1,searchForm.get().keyword,"コメント")">コメント</a></li>
                                }
                            }else{
                                <li role="presentation"><a href="@routes.Application.sortPost(1,category,"日付新しい順")">日付　新しい順</a></li>
                                <li role="presentation"><a href="@routes.Application.sortPost(1,category,"日付古い順")">日付　古い順</a></li>
                                <li role="presentation"><a href="@routes.Application.sortPost(1,category,"いいね")">いいね</a></li>
                                <li role="presentation"><a href="@routes.Application.sortPost(1,category,"コメント")">コメント</a></li>
                            }
                            </ul>
                            @if(sortName.equals("いいね") || sortName.equals("コメント")){
                                <span class="sort-name"><span>　@sortName</span>順</span>
                            }else{
                                <span class="sort-name">　@sortName</span>                            
                            }
                            <span class="hit-number">：@postListSize 件</span>
                        </div>
                    </div>
                </div>

                <div class="row sampleRow">
                    @if(postList != null){
                		@for((post,i) <- postList.zipWithIndex){
						<div class="col-xs-12 col-sm-3 col-md-3">
							<div class="panel">
								<div class="panel-heading">
									<p>@post.getDateStr()</p>
									<h4>@post.getPostTitle()</h4>
									<a href="/introduction/@post.getId()"></a>
								</div>
								<div class="panel-body">
									<a href="/introduction/@post.getId()"><img class="post-img" src="@post.getGoods().getImageUrl()"></a>
									<p class="posted-item-name">@post.getGoods().getGoodsName()</p>
									<p class="post-comment">@Html(post.getPostComment())</p>
									<a class="category-label" href="@routes.Application.index(1,post.getGoods().getCategory())"><span class="label label-default">@post.getGoods().getCategory()</span></a>
								</div>
								<div class="panel-footer">
									<div class="contributor-box">投稿者：<a class="contributor" href="@routes.Application.userPage(post.getUser().getId+num)">@post.getUser().getUserName()</a></div>
                                    <!-- いいねボタン -->
                                    @if(loginId == null){
                                        <div class="iineBtn"><button class="iineBtnNanashi">☆</button>
                                            <a href="/iineListForPost/@post.getId()"><span id="iineNum">@post.getIine().size()</span></a>
                                        </div>
                                    }else{
                                        @if(iineBooleanList.get(i) == false){
                                            <div class="iineBtn">
                                                <button class="iineBtnLonined" value="false">☆</button>
                                                <input type="hidden" value="@post.getId()">
                                                <a href="/iineListForPost/@post.getId()"><span id="iineNum@post.getId()">@post.getIine().size()</span></a>
                                            </div>
                                        }
                                        @if(iineBooleanList.get(i) == true){
                                            <div class="iineBtn">
                                                <button class="iineBtnLonined" value="true">★</button>
                                                <input type="hidden" value="@post.getId()">
                                                <a href="/iineListForPost/@post.getId()"><span id="iineNum@post.getId()">@post.getIine().size()</span></a>
                                            </div>
                                        }
                                    }
								</div>
							</div>
						</div>
                          @if(i%4 == 3){
                            <div style="clear:both;"></div>
                          }
						}
                    }

				</div>

				@if( request.path.contains( "sortPost" ) ){
					<p>@helper.pagenateForSort(page,maxPage,category,sortName)</p>
				}
				@if( request.path.contains( "search" ) ) {
					@if( searchForm.get().keyword != "" ){
						<p>@helper.pagenateForSearch(page,maxPage,searchForm.get().keyword,sortName)</p>
					}
				}
				@if( !request.path.contains( "sortPost" ) && !request.path.contains( "search" )){
					<p>@helper.pagenateForIndex(page,maxPage,category)</p>
				}

                    <!-- ページング  -->
            </div>
        </div>
        <!-- /#page-content-wrapper コンテント終了-->

    </div>
        <!-- /#sidebar-wrapper -->





}
