@(loginId: String, postList: List[models.entity.Post], categoryList:List[String] ,page:Integer, maxPage: Integer, category:String, searchForm:Form[models.form.SearchPostForm])
@implicitField = @{ FieldConstructor(inputForm_nolabel_error.f) }
@import helper._

@num = @{932108L}

@main(loginId) {

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    カテゴリー
                </li>
                    <li class="sidebar-category">
                        <a href="@routes.Application.index(1,"ALL")">ALL</a>
                    </li>
                @for(categoryTmp <- categoryList){
                    <li class="sidebar-category">
                        <a href="@routes.Application.index(1,categoryTmp)">@categoryTmp</a>
                    </li>
                }
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- コンテント -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
            	<div class="row sampleRow categoryInfoBox">
            		<div class="col-xs-12 col-sm-6 col-md-6 categoryInfo">
		                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">カテゴリー</a>
	                    @if(category.equals("ALL")){
	                        <span class="category-title">　新着記事</span>
	                    }else{
	                        <span class="category-title">　@category</span>
	                    }
	                </div>
	                <div class="col-xs-12 col-sm-6 col-md-6">
                   @form(action=routes.Application.searchPostBykeyword(1),'enctype->"multipart/form-data",'class->"searchPostFrom"){
                   		@inputText(searchForm("keyword"),args='_label->"キーワード",'class->"",'placeholder->"キーワードで投稿検索")
                   		<button type="submit" class="btn btn-default keyword">検索</button>
                   }
                   </div>
                </div>
                <div class="row">
                	<div class="col-xs-12 col-sm-3 col-md-3">
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">ソート</button>
							<ul class="dropdown-menu" role="menu">
								<li role="presentation"><a href="@routes.Application.sortPost(page,"日付新しい順")">日付　新しい順</a></li>
								<li role="presentation"><a href="@routes.Application.sortPost(page,"日付古い順")">日付　古い順</a></li>
								<li role="presentation"><a href="@routes.Application.sortPost(page,"いいね")">いいね</a></li>
								<li role="presentation"><a href="@routes.Application.sortPost(page,"コメント")">コメント</a></li>
							</ul>
						</div>
					</div>
                </div>

                <div class="row sampleRow">
                    @if(postList != null){
                		@for((post,i) <- postList.zipWithIndex){
						<div class="col-xs-12 col-sm-3 col-md-3">
							<div class="panel">
								<div class="panel-heading">
									<p>@post.getDateStr()</p>
									<h4>@post.getPostTitle()</h4>
									<a href="/introduction/@post.getId()"></a>
								</div>
								<div class="panel-body">
									<a href="/introduction/@post.getId()"><img class="post-img" src="@post.getGoods().getImageUrl()"></a>
									<p class="posted-item-name">@post.getGoods().getGoodsName()</p>
									<p class="post-comment">@Html(post.getPostComment())</p>
									<a class="category-label" href="@routes.Application.index(1,post.getGoods().getCategory())"><span class="label label-default">@post.getGoods().getCategory()</span></a>
								</div>
								<div class="panel-footer">
									<p>投稿者：<a class="contributor" href="@routes.Application.userPage(post.getUser().getId+num)">@post.getUser().getUserName()</a></p>
								</div>
							</div>
						</div>
                          @if(i%4 == 3){
                            <div style="clear:both;"></div>
                          }
						}
                    }

				</div>
                <p>@helper.pagenateForIndex(page,maxPage,category)</p>
                    <!-- ページング  -->
            </div>
        </div>
        <!-- /#page-content-wrapper コンテント終了-->

    </div>
        <!-- /#sidebar-wrapper -->





}
