@* @(goods: models.entity.Goods, post : model.entity.Post, commentForm: Form[models.form.CommentForm]) *@
@(loginId: String,commentList : List[models.entity.Comment] , commentForm: Form[models.form.CommentForm])

@implicitField = @{ FieldConstructor(inputForm_nolabel_error.f) }

@import helper._

@(loginId: String)

@main(loginId) {


<link href="@routes.Assets.at("stylesheets/introduction/introduction.css")" rel="stylesheet">

<div class="container-fluid">
	<div class="row introduction-color-box">
		<div class="col-sm-12">
			<h1>商品ページ</h1>
		</div>
	</div>
	<div class="row introduction-full-box">
		<div class="col-sm-4">
			<h2>商品タイトル</h2>
		</div>

		@*コメント表示*@
		<div class="col-sm-8 introduction-color-box">
			<div class="introduction-postcommnet-box">
				<h3>投稿者コメント</h3>
				<h4>この商品最高！！！！！！！</h4>
			</div>


			<div class="introduction-commnet-box ">
				<h3>あなたもコメントしよう！！</h3>
				@form(action = routes.Application.commentCreate(),'enctype->"multipart/form-data") {
					@textarea(commentForm("comment"),args='_label->"あなたもコメントしよう！",'class->"form-control" ,'cols -> "80",'rows -> "3")
					<h6 class="introduction-attention">*あなたのコメントが社内を炎上(盛り上げ)させる</h6>
					<div class="introduction-button">
						<button type="submit" class="btn btn-success btn-lg">投稿する</button>
					</div>
				}


				<div class="introduction-commnet-title">
					<h3>ーーコメントーー</h3>
					@if(commentList != null){
						@for( comment<-commentList ){
							<hr class="introduction-hr">
							<div class="introduction-commnet-box2 ">
								<div class="introduction-commnet-box3 introduction-commnet">
									@comment.getUser().getUserName()さん<br>
									@Html(comment.getComment())
								</div>
							</div>
						}
					}
				</div>
			</div>
		</div>
	</div>
</div>
}
