@(loginId: String)(content: Html)

<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Ositemile</title>
<link rel="icon" type="image/png" href="@routes.Assets.at("images/ositemile04.png")" sizes="32x32">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap読み込み -->
<link href="@routes.Assets.at("stylesheets/bootstrap-3.3.1.min.css")" rel="stylesheet">
<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
<!-- 自作css -->
<link href="@routes.Assets.at("stylesheets/css/whhg.css")" rel="stylesheet">
<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
<link href="@routes.Assets.at("stylesheets/simple-sidebar.css")" rel="stylesheet">
<!-- js読み込み -->
<script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
<script src="@routes.Assets.at("javascripts/iine.js")" type="text/javascript"></script>
</head>
<body>
<nav class="navbar navbar-new" role="navigation">
    <div class="container-fluid" id="header">
        <!-- logo -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="@routes.Assets.at("images/ositemile04.png")" alt="..." class="img-rounded">Ositemile</a>
        </div>
        <!-- menu -->
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="nav navbar-nav">
                <li><a href="/">ホーム</a></li>
                <li><a href="@routes.Application.postSearchItem()">商品を投稿する</a></li>
                <li class="nav-last-item"><a href="@routes.Application.rankingPost("good-weekly")">ランキング</a></li>
            </ul>
                <ul class="nav navbar-nav navbar-right">
                @if(loginId == null){
                    <li class="nav-username"><p>ゲスト さん</p></li>
                    <li><a href="@routes.Application.login()">ログイン</a></li>
                }else{
                    <li class="nav-username"><a href="@routes.Application.getUserPageByLoginid(loginId)">@loginId さん</a></li>
                    <li><a href="@routes.Application.logout()">ログアウト</a></li>
                }
            </ul>

        </div>
        <div class="collapse navbar-collapse navbar-right">

        </div>
    </div>
</nav>
<div class="content-container">
@content

</div>
<!-- <footer class="footer">
  <div class="container">
    <p class="text-muted">Created By Team NKK </p>
  </div>
</footer> -->

<!-- スライドバーの動き用js -->
<script src="@routes.Assets.at("javascripts/jquery-1.11.2.min.js")"></script>
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
<!-- ボタンの連続クリックを禁止するjs -->
<script>
function DisableButton(obj) {
    obj.disabled = true;
    obj.form.submit();
}
</script>

</body>
</html>
