@(loginId: String,postList:List[models.entity.Post],flag:Int)

@num = @{932108L}

@main(loginId) {
<link href="@routes.Assets.at("stylesheets/ranking/ranking.css")" rel="stylesheet">

<div class="container-fluid rank-fullbox">
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
			ランキング切り替え
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li role="presentation"><a href="@routes.Application.rankingPost("good")">歴代いいね</a></li>
			<li role="presentation"><a href="@routes.Application.rankingPost("good-weekly")">先週のいいね</a></li>
			<li role="presentation"><a href="@routes.Application.rankingPost("cmt")">歴代コメント</a></li>
			<li role="presentation"><a href="@routes.Application.rankingPost("cmt-weekly")">先週のコメント</a></li>
		</ul>
	</div>
	@{
		flag match {
	  		case 1 => <p class="rank-type">歴代いいねランキング</p>
	  		case 2 => <p class="rank-type">先週のいいねランキング</p>
	  		case 3 => <p class="rank-type">歴代コメントランキング</p>
	  		case 4 => <p class="rank-type">先週のコメントランキング</p>
		}
	}
	<div class="row">
		@if(postList.size==0){
			<h4>先週投稿された記事はありません。</h4>
		}
	@for((post,i) <- postList.zipWithIndex){
			<div class="col-xs-12 col-sm-12 col-md-12 rank-onerow">
					<div class="col-xs-1 col-sm-1 col-md-1 ranking-num">
						@if(i==0){
							<i class="icon-crown"></i>
						}
						@if(i==1){
							<i class="icon-crown rank-no2"></i>
						}
						@if(i==2){
							<i class="icon-crown rank-no3"></i>
						}
						@if(i!=0 && i!=1 && i!=2){
							<p class="rank-number number-from4">@{i+1}<span>位</span></p>
						}else{
							<p class="rank-number">@{i+1}<span>位</span></p>
						}
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 rank-item-imgbox">
						<a href="/introduction/@post.getId()"><img class="rank-item-img" src="@post.getGoods().getImageUrl()"></a>
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 rank-item-info">
					@if(flag==1 || flag==2){
						<p><span class="iine-num">@post.getIineCnt()</span> いいね&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@*<span class="toukousya">投稿者:</span>*@<a class="contributor" href="@routes.Application.userPage(post.getUser().getId+num)">@post.getUser().getUserName()</a></p>
					}else{
						<p><span class="iine-num">@post.getCommentCnt()</span> コメント&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@*<span class="toukousya">投稿者:</span>*@<a class="contributor" href="@routes.Application.userPage(post.getUser().getId+num)">@post.getUser().getUserName()</a></p>
					}
						<p class="rank-post-title"><a href="/introduction/@post.getId()">@post.getPostTitle()</a></p>
						<p class="rank-item-name">@post.getGoods().getGoodsName()</p>
					</div>
		</div>
	}
	</div>
</div>

}