@((loginId: String, postList:List[models.entity.Post])

@main(loginId) {
<link href="@routes.Assets.at("stylesheets/ranking/ranking.css")" rel="stylesheet">

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="row">
				<div class="col-xs-1 col-sm-1 col-md-1 ranking-num">

				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 ran-item-img">
				</div>
				<div class="col-xs-7 col-sm-7 col-md-7 ran-item-info">
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="row">
				<div class="col-xs-1 col-sm-1 col-md-1">
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4">
				</div>
				<div class="col-xs-7 col-sm-7 col-md-7">
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="row">
				<div class="col-xs-1 col-sm-1 col-md-1">
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4">
				</div>
				<div class="col-xs-7 col-sm-7 col-md-7">
				</div>
			</div>
		</div>
	</div>
</div>

}