@(loginId: String, userForm: Form[models.form.UserForm], user :models.entity.User)

@implicitField = @{ FieldConstructor(inputForm_nolabel_error.f) }

@num = @{932108L}

@import helper._

@main(loginId) {
<link href="@routes.Assets.at("stylesheets/post_item/edit_profile.css")" rel="stylesheet">

<div class="profile-form">
	<h4 class="edit-user-head">プロフィール編集</h4>
	@form(action=routes.Application.DoUpdate(user.getId+num),'enctype->"multipart/form-data"){
		<!-- 前回の画像データー -->
		@inputText(userForm("imageDataOld"),args= 'type->"hidden" , 'value->"@user.getImageData")
		@inputText(userForm("imageNameOld"),args= 'type->"hidden" , 'value->"@user.getImageName")
		@inputText(userForm("encoding"),args= 'type->"hidden" , 'value->"@user.getImageEncData")

		<h4 class="edit-user-title">お名前<span class="edit-name-caution">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*本名推奨</span></h4>
		@inputText(userForm("userName"),args='_label->"お名前",'class->"edit_user_form edit_user_text")
		@inputText(userForm("password"),args= 'type->"hidden" , 'value->"@user.getPassword()")
		@inputText(userForm("loginId"),args= 'type->"hidden" , 'value->"@user.getLoginId()")

		<h4 class="edit-user-title">部署</h4>
		@inputText(userForm("department"),args='_label->"部署",'class->"edit_user_form edit_user_text")
		<h4 class="edit-user-title">自己紹介</h4>
		@textarea(userForm("profile"),args='_label->"コメント",'class->"form-control edit_user_form edit_user_textarea" ,'cols -> "80",'rows -> "10")
		@inputText(userForm("imageName"),args='_label->"画像",'type->"file")

		<input name="admin" type="hidden" value="@user.getAdmin()">
		<br>
		<button type="submit" class="btn btn-default edit-user_btn">編集</button>
	}
</div>
}