@(loginId: String,user: models.entity.User, postList: List[models.entity.Post],postListSize: Int,imageData:String)

@num = @{932108L}
<link href="@routes.Assets.at("stylesheets/userpage/userpage.css")" rel="stylesheet">

@main(loginId) {
	<div class="container user-page-wrap">
    <div class="row">
        <!-- ユーザー情報div -->
        <div class="col-xs-12 col-sm-3 col-md-3 user-info-box">
            <div class="user-info">
                <div class="panel panel-default profile-panel">
                    <div class="panel-body">

							<div class="userpage-box">
                    			<img class="userpage-image" src="data:image/png;base64,@imageData" alt="base64test">
							</div>
                        <h3>@user.getUserName()</h3>
                        <h5>部署：<span>@user.getDepartment()</span></h5>
                    </div>
                    <div class="panel-footer">
                       @Html(user.getProfile())
                    </div>
                </div>
                <div class="panel panel-success post-count">
                    <div class="panel-heading">
                       <p>投稿した数</p>
                    </div>
                    <div class="panel-body">
                        <h4>@postListSize</h4>
                    </div>
                </div>
                @if(loginId == user.getLoginId()){
                <a class="btn btn-default edit-user-btn" href="@routes.Application.updateUserForm(num+user.getId)">プロフィール編集</a>
                }
            </div>
        </div>
        <!-- /.ユーザー情報div -->

        <!-- ユーザーが投稿した記事が入るdiv -->
        <div class="col-xs-12 col-sm-9 col-md-9 post-container">
            <div class="row">
                <h4 class="post-list-title">投稿一覧</h4>
                @if(postListSize == 0){
                	<h3 class="no-post">投稿はまだありません。</h3>
                }
                @if(postList != null){
					@for((post,i) <- postList.zipWithIndex){
                <div class="col-xs-12 col-sm-4 col-md-4 post-one">
                    <div class="panel">
                        <div class="panel-heading">
                            <p>@post.getDateStr()</p>
                            <h4>@post.getPostTitle()</h4>
                            <a href="/introduction/@post.getId()"></a>
                        </div>
                        <div class="panel-body">

                            <img class="post-img" src="@post.getGoods().getImageUrl()">
							<p class="posted-item-name">@post.getGoods().getGoodsName()</p>
                            <div>
                            	@Html(post.getPostComment())
                            </div>
                            <a class="category-label" href="@routes.Application.index(1,post.getGoods().getCategory())"><span class="label label-default">@post.getGoods().getCategory()</span></a>
                        </div>
                        <div class="panel-footer">
                            <p>投稿者：<a class="contributor" href="@routes.Application.userPage(post.getUser().getId+num)">@post.getUser().getUserName()</a></p>
                        </div>
                    </div>
                </div>
                 @if(i%3 == 2){
                 	<div style="clear:both;"></div>
                 }
                }
             }


            </div>
        </div>
        <!-- /.ユーザーが投稿した記事が入るdiv -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
}